.DS_Store
/src/image/ImageProcessing/bin
/src/image/WebCam/bin
/src/image/WebCam/bin/dk
/src/image/ImageProcessing/bin
/src/image/ImageProcessing/bin
/src/control/ControlHQ/bin
/src/control/ControlTest/bin
/src/RobotHandler/bin
/src/shared/DTO/bin
/src/pathfinding/bin
/src/comm/Commander/bin
/src/comm/Commnication/bin
/src/shared/DTO/bin
/src/pathfinding/bin
/src/control/ControlTest/build
/src/control/ControlHQ/build
